<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quiz App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
  <div class="quiz-container">
    <header>
      <span id="question-number">{{question[2]}}/{{question[3]}}</span>
      <span id="timer">30</span>
      <span id="score">Score: 0</span>
    </header>
    <div class="progress-container">
      <div class="progress-bar" id="progress-bar"></div>
    </div>
 <form method="POST" action="\quiz">
    <main>

      <h2 id="question-text">{{ question[0] }} </h2>
      <div class="options">
        <label>
          <input type="radio" name="answer" value="a">
          <span>{{question[1][0]}}</span>
        </label>
        <label>
          <input type="radio" name="answer" value="b">
          <span>{{question[1][1]}}</span>
        </label>
        <label>
          <input type="radio" name="answer" value="c">
          <span>{{question[1][2]}}</span>
        </label>
        <label>
          <input type="radio" name="answer" value="d">
          <span>{{question[1][3]}}</span>
        </label>
      </div>




    <footer>
      <button id="next-button">Continue</button>
    </footer>
  </div>
    </main>
  </form>
  <script src="script.js"></script>
</body>

</html>